table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  th,
  td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .css-1g3e3gh-MuiTableCell-root{
      text-align: center;
  }
  .css-kf5vx2-MuiTableCell-root{
    text-align: center;
  }