.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }
 
  .imageSlider > article {
    width: 100% !important;
    height: 100% !important;
  }

  .imageSlider > article > section > div > div {
    margin: auto;
    max-width: 450px !important;
    min-width: 50px !important;
  }

  .imageSliderX > article > div:last-child {
    margin-top: 1.5rem !important;
  }