/* .css-1isemmb {
    margin-left: 30%;
    
}
.css-1lym95h-MuiGrid-root {
    margin-top: 10px;
} */
.css-12vebo6-MuiButtonBase-root-MuiButton-root,
.css-731omg-MuiButtonBase-root-MuiButton-root
{
border-radius: 0px 8px 0px 8px;
padding: 10px 16px 10px 16px;
}
.css-1fi1ijh-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 1.23rem;
}